/* .wrapper.spotlight.style2:before {
    background: yellow;
}
.wrapper.spotlight.style2:after {
    background: yellow;
} */

/* .wrapper.spotlight.style2 {
    background: linear-gradient(#45558d, rgb(143, 173, 232));
    border: none;
} */